django==5.2.17
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
psycopg2-binary==2.9.9
python-decouple==3.8
django-cors-headers==4.4.0
django-filter==24.3
drf-spectacular==0.27.2
requests==2.32.3
qrcode==7.4.2
Pillow==10.4.0
cryptography==43.0.0
pyotp==2.9.0
weasyprint==62.3
fpdf2==2.7.9
pytest==8.3.3
pytest-django==4.8.0
